<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>AFrame</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"> <img src="/static/img/logo.png" alt="Logo" style="height: 50px;"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/login">Login </a>
                    <a class="nav-item nav-link" href="/register">Sign In</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron container">
        <h1 class="display-4">Hi! Welcome to AFrame.</h1>
        <p class="lead">This is my first social network. It works with python, mongodb and javascript.
            I hope you enjoy it.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos perspiciatis deserunt magnam ducimus
            error ex maiores mollitia aut veniam eum eaque illum quo nostrum est autem quos iure quod tempora
            repellendus eligendi cum excepturi explicabo, minus incidunt. Error adipisci voluptatum consectetur
            perspiciatis quisquam. A sequi odio nobis, porro facilis expedita!</p>
        <a class="btn btn-primary btn-danger btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-primary btn-danger btn-lg" href="/register" role="button">Sign In</a>
    </div>

    <script src="/static/js/home.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>